 * {
  box-sizing: border-box;
  font-family: 'Modak', cursive;
  font-size: 30px;
  text-align: center;
  color: rgb(223, 170, 118);
}

.heading {
  margin: 50px;
  font-size: 50px;
}

.time-limit {

  padding: 5px
}

.score-board {
  padding: 5px;
  margin: 0px;
}

button {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  border-color: rgb(223, 170, 118);
}
.start {
  padding: 40px;
}

.grid {
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: rgb(223, 170, 118);
  border-radius: 20px;
  background-color: white;
}

.hole {
  line-height: 100px;
  float:left;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid rgb(223, 170, 118);
}

.mole {
  background-color: rgb(223, 170, 118);
  background-image: url('../images/trump.jpg');
  background-repeat: none;
  background-size: contain;
}
