 * {
  box-sizing: border-box;
  font-family: 'Modak', cursive;
  font-size: 30px;
  text-align: center;
  color: rgb(242, 168, 93);
}

.heading {
  margin: 20px;
  font-size: 100px;
}

.time-limit {
  padding: 5px
}

.time-board {
  margin: 20px;
  font-size: 60px;
}

.score-board {
  margin: -20px;
  padding: 20px;
  font-size: 35px;
}

button {
  margin-top: -20px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: none;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  border-color: rgb(242, 168, 93);
  outline: none;
}

.start {
  padding: 20px;
}

.grid {
  cursor: url(https://s29.postimg.org/iob23uo2v/hammerpngsmall.png), auto;
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: rgb(242, 168, 93);
  border-radius: 20px;
  background-color: white;
}

.hole {
  line-height: 100px;
  float:left;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid rgb(242, 168, 93);
  padding: 1px;
}

.mole {
  background-color: white;
  background-image: url('../images/trump4.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
